.layout {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(217, 181, 255);
  background: linear-gradient(
    180deg,
    rgba(217, 181, 255, 1) 0%,
    rgba(151, 185, 255, 1) 100%
  );
  color: white;
}

.layout-form {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;

  ::placeholder {
    color: #f3f3f3;
  }
}

.layout-buttons {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout-buttons a {
  padding: 0.3rem 0;
}

.layout-buttons button {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 375px;
  }
}

.layout-subtitle {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: 375px;
  }
}

.layout-title {
  line-height: 1.2;
  padding-bottom: 0.3rem;
}
